.trabalheConosco-bg {
    background-color: #e3f2fd;
}

.trabalheConosco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    padding: 30px;
}

.trabalheConosco-texto h1{
    font-size: 3rem;
    margin-bottom: 60px;
    line-height: 50px;
}

.trabalheConosco-texto p {
    color: #5c5c5c;
}


.input-container {
    position: relative;
    margin: 20px 0px;
}

#input-field {
    display: block;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}
  

 .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
}
  
#input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
}
  
#input-field:focus + .input-label + .input-highlight {
    width: 220px;
}

@media (max-width: 850px) {
    .trabalheConosco {
        display: block;
    }

    .trabalheConosco img {
        margin: 0px auto;
    }

    .trabalheConosco-texto {
        text-align: center;
        margin-bottom: 60px;
    }

    .trabalheConosco-texto p {
        margin-bottom: 60px;
    }

    #input-field {
        margin: 0px auto;
    }
}
  